/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 

@media only screen and (max-width: 1450px) {
	/* 1367px */

	/* Header */

	/* .nav2 li:hover>.sub-menu li a {
		padding: 0px 63px;
	} */
	.nav2 li:hover>.sub-menu li {
		margin: 0 57px 0;
	}
	.nav2 li:hover>.sub-menu {
		margin-left: 17px;
	}

	/* Header end */

	/* Banner */
	
	.title-slide-show {
		font-size: 132px;
		min-height: 498px;
		line-height: 108px;
	}

	/* Banner */


	/* About Us */

	.properties-content h2 {
		padding: 0 322px 42px 0;
		margin-top: 70px;
	}

	.site-title-primary h2 {
		font-size: 80px;
	}

	.properties-content h4 {
		padding: 0 180px 84px 0;
	}

	/* About Us end */


	/* Area */

	.region-area-container .site-title-primary h2 {
		font-size: 60px;
		line-height: 68px;
		padding: 58px 0 0 0;
	}

	.region-area-container .site-title-primary h4 {
		font-size: 32px;
	}

	.comp-area-container img {
		padding: 80px 0 76px 0;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	.hp-commercial {
		padding-bottom: 44px;
	}
	
	.hp-commercial .site-title-primary h4 {
		font-size: 34px;
	}
	.site-title-primary h2 {
		font-size: 76px;
		padding-top: 68px;
	}


	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */

	/* Footer end */
}

@media only screen and (max-width: 1366px) {
	/* 1200px */
	.nav2 li:hover>.sub-menu {
		margin-left: 46px;
		padding-top: 27px;
	}
	/* Header */

	.header-info {
		font-size: 12px;
	}

	#nav li a, .nav2 li a {
		font-size: 12px;
	}

	.aios-split-nav.nav-left .sub-menu li a {
		font-size: 10px;
	}

	.nav2 li:hover>.sub-menu li a {
		padding: 0;
		padding-top: 10px;
	}

	#nav .sub-menu, .nav2 .sub-menu {
		min-width: 130px;
	}

	.nav2 li:hover>.sub-menu li {
		margin: 0;
	}

	/* Header end */

	/* Banner */

	.title-slide-show {
	    font-size: 72px;
		min-height: 289px;
		line-height: 66px;
		max-width: 180px;
	}

	/* Banner end */

	/* About Us */

	.comp-properties-container h3 {
		font-size: 36px;
	}

	.properties-content h2 {
		padding: 0 254px 42px 0;
	}

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */
}

@media only screen and (min-width: 992px) { 
	/* Properties */
	.comp-properties-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
		grid-template-rows: auto auto;
    }

	.properties-title {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		max-width: 824px;
	}

    .properties-amount{
        grid-column: 1 / 47;
		grid-row: 2 / 3;
    }

    .properties-content {
        grid-column: 57 / -1;
		grid-row: 2 / 3;
    }

	/* Area */

	.comp-area-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
        grid-template-rows: auto auto;
        max-width: 1600px;
    }

    .title-line-secondary {
        grid-column: 1 / 70;
        grid-row: 1 / 2;
    }

    .item-area-logo {
        grid-column: 15 / 37;
        grid-row: 2 / 3;
    }

    .area-paragraph {
        grid-column: 40 / -1;
        grid-row: 2 / 3;
    }

	/* Commercial */

	.region-commercial-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
        padding-top: 86px;
    }

    .commercial-primary-section {
        grid-column: 19 / 57;
    }

    .commercial-secondary-section {
        grid-column: 63 / -1;
        position: relative;
        z-index: 1;
        align-self: start;
    }

	.footer-info {
        max-width: 627px;
        margin: 0 212px 0 297px;
	}
	
}

@media only screen and (max-width: 1199px) {
	/* 992 */
	.nav2 li:hover>.sub-menu {
		padding-top: 31px;
	}
	/* footer */
	.footer-info {
		max-width: 627px;
		margin: 0 125px 0 204px;
	}
	/* Header */
	.header.show-fixed .header-inner .logo-holder img.fixed {
		top: 10px;
	}

	/* Header end */


	/* About Us */

	.comp-properties-container img {
		max-height: 190px;
	}

	.properties-content h2 {
		padding: 0 182px 42px 0;
	}

	.properties-content h4 {
		padding: 0 90px 84px 0;
	}

	.site-title-primary h4 {
		font-size: 18px;
	}

	#nav li a, .nav2 li a {
		font-size: 10px;
	}

	.header-info {
		font-size: 11px;
	}

	.header-inner .logo-holder img {
		max-width: 50%;
		width: 100%;
	}


	/* About Us end */


	/* Area */

	.hp-area {
		padding-bottom: 0;
	}

	.region-area-container .site-title-primary h2 {
		font-size: 56px;
		line-height: 58px;
		padding: 44px 0 0 0;
	}

	.region-area-container .site-title-primary h4 {
		font-size: 24px;
	}

	.comp-area-container p {
		max-width: 497px;
	}

	.item-area-logo {
		grid-column: 10 / 32;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	.site-title-primary h2 {
		font-size: 64px;
		padding-top: 52px;
	}

	.hp-commercial .site-title-primary h4 {
		font-size: 28px;
	}

	.commercial-primary-section {
		grid-column: 10 / 52;
	}

	.commercial-primary-section p {
		padding-bottom: 24px;
		font-size: 15px;
    	line-height: 28px;
	}

	.commercial-secondary-section img {
		margin-bottom: 20px;
	}

	#menu-footer-menu a {
		margin: 0 18px;
	}

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */


} 

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
	/* 768 */
	.fixed-smi {
		display: none;
	}
	.footer-info {
		max-width: 100%;
		margin: 0;
	}
	/* Popup */

	.intro-popup-form {
		padding: 42px 45px;
	}

	.aiosp-wrap .aiosp-container .aios-popup-body {
		padding: 46px 0 8px;
	}

	.intro-popup-title h2 {
		font-size: 82px;
	}
	/* Popup end */

	/* Header */

	.aios-mobile-header-wrapper {
		z-index: 1020!important;
	}

	header.header {
		position: relative;
		background: #000;
		padding: 38px 0;
		margin-top: 53px;
	}

	.header-inner>.row {
		justify-content: center;
	}

	.header-inner .logo-holder img.fixed {
		display: block;
	}

	.header-inner .logo-holder img {
		max-width: 148px;
		position: relative;
		top: 8px;
	}

	.header-inner .logo-holder img {
		display: none;
	}

	.aios-split-nav {
		display: none;
	}

	.header-info {
		display: none;
	}

	/* Fixed Header */

	.amh-header-buttons .amh-navigation-trigger, .amh-header-buttons .amh-center, .amh-header-buttons .amh-header-right-btn {
		padding: 21px 0;
		height: 86px;
		font-size: 40px;
	}

	/* Header end */

	/* Banner */

	.title-slide-show {
		font-size: 52px;
		min-height: 232px;
		line-height: 52px;
		max-width: 142px;
		padding-left: 15px;
	}

	.title-slide-show .title-slide-secondary::after {
		width: 8px;
		height: 8px;
		bottom: 15px;
		right: -16px;
	}

	/* Banner end */


	/* About Us */

	.comp-properties-container img {
		max-height: 240px;
	}

	.properties-amount {
		padding: 0 74px;
	}
	
	.properties-amount .properties-item::after {
		left: 0;
	}

	.properties-content h2 {
		padding: 0 182px 20px 44px;
	}

	.properties-content h4 {
		padding: 0 90px 72px 44px;
	}
	.properties-item {
		max-width: 600px;
		margin: 0 auto;
	}

	.site-title-primary h4 {
		font-size: 22px;
	}

	.properties-content .btn-holder {
		margin: 0 auto;
		padding: 20px 0;
		max-width: 376px;
	}

	
	/* About Us end */


	/* Area */
	
	.region-area-container .site-title-primary {
		padding-left: 40px;
	}

	.comp-area-container p {
		padding: 30px 0 40px 0;
		max-width: 498px;
		text-align: center;
		margin: 0 auto;
	}

	.item-area-logo {
		text-align: center;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	.hp-commercial .site-title-primary h4 {
		font-size: 30px;
	}

	.title-line-secondary {
		margin-left: 104px;
	}

	.commercial-primary-section p {
		margin: 0 auto;
		text-align: center;
		max-width: 618px;
		padding-top: 24px;
	}

	.commercial-secondary-section img {
		padding: 0 74px;
	}

	/* Residential end */


	/* Contact Us */

	.site-form {
		font-size: 0;
		padding: 54px 80px;
	}

	.form-md.pad-left {
		width: 100%;
		padding-right: 0;
	}

	.form-md.pad-right {
		width: 100%;
		padding-left: 0;
	}

	/* Contact Us end */


	/* Footer */

	.footer-info {
		flex-direction: column;
		padding-bottom: 34px;
		font-size: 16px;
	}

	.footer-info .footer-address {
		margin-left: 0;
		max-width: 170px;
		padding: 24px 0;
	}

	.footer-info .footer-email {
		margin-left: 0;
		padding-bottom: 20px;
	}

	#menu-footer-menu a {
		font-size: 15px;
	}

	#menu-footer-menu {
		flex-direction: column;
		font-size: 20px;
		line-height: 26px;
	}

	#menu-footer-menu li {
		padding-bottom: 24px;
	}
	
	
	/* Footer end */
	
	/* The following are used on inner pages. Please edit carefully. */

	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}
	
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
	/* 481 */

	.intro-popup-form div.wpcf7-response-output {
		font-size: 10px;
	}

	.site-form div.wpcf7-response-output {
		width: calc(100% - 96px);
		bottom: -78px;
		font-size: 10px;
	}
	/* Popup */
	
	.aiosp-wrap .aiosp-container .aios-popup-body {
		width: 85%;
		min-height: 562px;
	}

	.intro-popup-title h2 {
		font-size: 60px;
	}

	.intro-popup-title p {
    	max-width: 215px;
	}

	.intro-popup-form {
		padding: 42px 32px;
	}
	/* Popup end */

	/* Header */


	/* Banner */

	.title-slide-show {
		font-size: 42px;
		min-height: 172px;
		line-height: 41px;
		max-width: 123px;
	}


	/* Header end */


	/* About Us */

	.site-title-primary h2 {
		font-size: 47px;
		padding: 24px 0;
		max-width: 448px;
		line-height: 60px;
		text-align: center;
		margin: 0 auto;
	}

	.title-line-secondary {
		border-left: none;
	}

	.title-line-secondary::after {
		display: none;
	}

	.site-title-primary h4 {
		font-size: 18px;
	}

	.comp-properties-container h3 {
		font-size: 20px;
	}

	
	.properties-title .site-title-primary h4{
		max-width: 262px;
	}

	.properties-title h4 {
		padding: 0;
	}

	.site-title-primary h4 {
		text-align: center;
		margin: 0 auto;
		max-width: 306px;
	}

	.properties-content h4 {
		padding: 0;
	}

	.properties-content .title-line-primary {
		padding-bottom: 22px;
	}


	/* About Us end */


	/* Area */

	.region-area-container .site-title-primary {
		padding-left: 0;
	}

	.region-area-container .site-title-primary {
		margin-left: 32px;
	}

	.region-area-container .site-title-primary h2 {
		font-size: 52px;
		line-height: 50px;
		padding: 29px 0;
	}

	.region-area-container .site-title-primary h4 {
		font-size: 20px;
	}

	.comp-area-container img {
		padding: 52px 0;
	}

	.comp-area-container p {
		font-size: 20px;
		max-width: 564px;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	.site-form {
		padding: 54px 48px;
	}

	.title-line-secondary {
		margin-left: 34px;
	}

	.title-line-secondary {
		padding-left: 0;
	}

	.commercial-primary-section p {
		font-size: 18px;
		max-width: 344px;
	}

	/* Residential end */


	/* Contact Us */

	.site-form {
		padding: 54px 48px;
	}

	/* Contact Us end */


	/* Footer */

	.footer-logo .img-logo {
		width: 100%;
		max-width: 320px;
	}

	.footer-logo .img-award {
		width: 100%;
		max-width: 320px;
	}

	.lower-footer p {
		flex-direction: column;
	}
	
	/* Footer end */

	/* Fixed Smi */

	.fixed-smi a {
		width: 34px;
		height: 34px;
	}

	.fixed-smi {
		right: 18px;
	}

	/* Fixed Smi end */
    .ip-banner .container{
        width: 100%;
    }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {

	/* 321 */
	.site-form div.wpcf7-response-output {
		width: calc(100% - 40px);
		bottom: -63px;
		font-size: 7px;
	}
	/* Popup */

	.intro-popup-title h2 {
		font-size: 46px;
	}

	.intro-popup-title p {
		font-size: 12px;
	}

	.intro-popup-form {
		padding: 24px 32px;
	}

	/* Popup end */

	/* Header */

	/* Banner */

	.title-slide-show {
		font-size: 26px;
		min-height: 95px;
		line-height: 22px;
		max-width: 74px;
		padding-left: 10px;
		border-left: solid 2px #ffffff;
	}

	.title-slide-show .title-slide-secondary::after {
		width: 4px;
		height: 4px;
		bottom: 9px;
		right: -8px;
	}

	.title-slide-show .title-slide-primary::after {
		width: 8px;
		height: 8px;
		left: -5px;
	}

	/* Header end */


	/* About Us */

	.title-line-primary {
		border-top: #a11e21 solid 2px;
	}

	.site-title-primary h2 {
		padding: 10px 0;
		font-size: 32px;
		max-width: 227px;
		line-height: 34px;
	}

	.site-title-primary h4 {
		font-size: 14px;
		line-height: 24px;
		max-width: 278px;
	}

	.title-line-primary {
		padding-bottom: 34px;
	}
	.comp-properties-container h3 {
		font-size: 14px;
	}

	.properties-amount {
		padding: 0 44px;
	}

	.properties-content .btn-holder {
		max-width: 230px;
	}

	.properties-content .btn-holder a {
		min-height: 60px;
		max-width: 400px;
		border: 3px solid #a11e21;
		font-weight: 500;
		font-size: 14px;
	}	
	
	/* About Us end */
	
	
	/* Area */
	
	.region-area-container .site-title-primary h2 {
		font-size: 32px;
		line-height: 38px;
		padding: 24px 0;
	}

	.region-area-container .site-title-primary h4 {
		font-size: 16px;
		max-width: 205px;
	}

	.comp-area-container img {
		max-width: 200px;
	}

	.comp-area-container p {
		font-size: 14px;
		max-width: 237px;
		line-height: 24px;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */
	.hp-commercial {
		border-bottom: solid 6px #a11e21;
	}

	.hp-commercial::after {
		height: 6px;
		bottom: -4px;
	}

	.hp-commercial .site-title-primary h4 {
		font-size: 18px;
	}

	.title-line-secondary {
		border-left: solid 2px #a11e21;
	}

	.title-line-secondary::after {
		width: 8px;
		height: 8px;
		left: -5px;
	}

	.commercial-primary-section p {
		font-size: 14px;
		max-width: 237px;
		line-height: 24px;
	}

	.commercial-secondary-section img {
		padding: 0 44px;
		margin-bottom: 14px;
	}

	/* Residential end */


	/* Contact Us */

	.hp-contact-us {
		padding: 54px 15px 38px;
	}

	.site-form div.wpcf7-response-output {
		font-size: 8px;
		bottom: -48px;
	}

	.intro-popup-form div.wpcf7-response-output {
		font-size: 7px;
		bottom: 59px;
	}

	.region-contact-container::after, .region-contact-container::before {
		width: 26%;
	}
	
	.region-contact-container .title-primary {
		font-size: 14px;
	}

	.site-form {
    	padding: 0 20px;
		padding-bottom: 50px;
	}
	
	.form-md input, .form-lg textarea, select {
		min-height: 46px;
		font-size: 8px;
		padding-left: 10px;
	}

	.site-form .form-lg textarea {
		padding-top: 11px;
		min-height: 80px;
	}

	.radio-item h2 {
		padding: 6px;
	}

	.checkmark {
		height: 14px;
		width: 14px;
	}

	.region-contact-container .primary-btn {
		font-size: 10px;
		min-height: 36px;
		width: 158px;
	}

	.btn-holder a {
		font-size: 10px;
		max-width: 256px;
	}

	.btn-holder {
		font-size: 10px;
		max-width: 256px;
	}

	.site-form div.wpcf7-response-output {
		font-size: 7px;
		bottom: -68px;
	}

	/* Contact Us end */


	/* Footer */

	.footer-logo .img-logo {
		max-width: 242px;
	}

	.footer-logo .img-award {
		max-width: 242px;
	}

	.footer-info {
		font-size: 14px;
	}

	#menu-footer-menu {
		font-size: 16px;
		line-height: 24px;
	}
	
	/* Footer end */

	.hc-radio-inner span.wpcf7-list-item input:checked ~ span.wpcf7-list-item-label::before {
		width: 12px;
		height: 12px;
		top: 7px;
		left: -3px;
	}

	.hc-radio-inner span.wpcf7-list-item-label::after {
		top: 3px;
		left: -6px;
		width: 18px;
	}

	span.wpcf7-list-item-label {
		padding: 0px 2px;
		font-size: 12px;
		margin-right: 9px;
	}

	.hc-radio, .hc-radio-inner {
		padding: 0 11px 12px;
	}
}
 
