/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 

@media only screen and (max-width: 1450px) {
	/* 1367px */

	/* Header */

	/* Header end */

	/* Banner */
	
	.title-slide-show {
		font-size: 132px;
		min-height: 498px;
		line-height: 108px;
	}

	/* Banner */


	/* About Us */

	.properties-content h2 {
		padding: 0 322px 42px 0;
		margin-top: 70px;
	}

	.site-title-primary h2 {
		font-size: 80px;
	}

	.properties-content h4 {
		padding: 0 180px 84px 0;
	}

	/* About Us end */


	/* Area */

	.region-area-container .site-title-primary h2 {
		font-size: 60px;
		line-height: 68px;
		padding: 58px 0 0 0;
	}

	.region-area-container .site-title-primary h4 {
		font-size: 32px;
	}

	.comp-area-container img {
		padding: 80px 0 76px 0;
	}

	.comp-area-container p {
		padding: 80px 0 74px 0;
	}

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	.hp-commercial {
		padding-bottom: 44px;
	}
	
	.hp-commercial .site-title-primary h4 {
		font-size: 34px;
	}
	.site-title-primary h2 {
		font-size: 76px;
		padding-top: 68px;
	}


	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */

	/* Footer end */
}

@media only screen and (max-width: 1366px) {
	/* 1200px */

	/* Header */

	/* Header end */


	/* About Us */

	.comp-properties-container h3 {
		font-size: 36px;
	}

	.properties-content h2 {
		padding: 0 254px 42px 0;
	}

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */
}

@media only screen and (min-width: 992px) { 
	/* Properties */
	.comp-properties-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
		grid-template-rows: auto auto;
    }

	.properties-title {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		max-width: 637px;
	}

    .properties-amount{
        grid-column: 1 / 47;
		grid-row: 2 / 3;
    }

    .properties-content {
        grid-column: 57 / -1;
		grid-row: 2 / 3;
    }

	/* Area */

	.comp-area-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
        grid-template-rows: auto auto;
        max-width: 1600px;
    }

    .title-line-secondary {
        grid-column: 1 / 70;
        grid-row: 1 / 2;
    }

    .item-area-logo {
        grid-column: 15 / 37;
        grid-row: 2 / 3;
    }

    .area-paragraph {
        grid-column: 40 / -1;
        grid-row: 2 / 3;
    }

	/* Commercial */

	.region-commercial-container {
        display: grid;
        grid-template-columns: repeat(100,1fr);
        padding-top: 86px;
    }

    .commercial-primary-section {
        grid-column: 20 / 58;
    }

    .commercial-secondary-section {
        grid-column: 63 / -1;
        position: relative;
        z-index: 1;
        align-self: start;
    }
}

@media only screen and (max-width: 1199px) {
	/* 992 */

	/* Header */

	/* Header end */


	/* About Us */

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */
} 

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
	/* 768 */

	/* Header */

	.header-inner {
		display: none;
	}

	/* Header end */


	/* About Us */

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */
	
	/* The following are used on inner pages. Please edit carefully. */

	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}
	
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
	/* 481 */

	/* Header */

	/* Header end */


	/* About Us */

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */
    .ip-banner .container{
        width: 100%;
    }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
	/* 321 */

	/* Header */

	/* Header end */


	/* About Us */

	/* About Us end */


	/* Area */

	/* Area end*/


	/* Team */

	/* Team end */


	/* Residential */

	/* Residential end */


	/* Contact Us */

	/* Contact Us end */


	/* Footer */
	
	/* Footer end */

}
 
